
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}
body{
    font-family: var(--font-family) !important;
}
.active{
    color: var(--main-color);
}
.containerL{
    width: 90%;
    margin: auto;
}
.btn{
    @apply bg-active p-2 w-full text-white rounded
    
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 10px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  @keyframes animloader {
    0% {
      border-color: var(--main-color) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    33% {
      border-color: var(--main-color) var(--main-color) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    66% {
      border-color: var(--main-color) var(--main-color) var(--main-color) rgba(255, 255, 255, 0);
    }
    100% {
      border-color: var(--main-color) var(--main-color) var(--main-color) var(--main-color) ;
      
    }
  } 

 